html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
     padding:0;
     margin:0;
}     //为什么不直接用" * "选择器？？
ol{
     margin-left:1.4em;
     list-style:decimal;
}
ul{
     margin-left:1.4em;
     list-style:square;
}
img{
     border:0;
}
input,button,select,textarea{
	outline: none;
}
textarea{
	resize:none;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #a4b6b7 inset;
	-webkit-text-fill-color: #fff;
}