<!DOCTYPE html>
<html>
<head>
	<title>基本网格布局</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../CSSreset.css">
</head>
<body>
<style type="text/css">
	.wrap{
		display: flex;
		margin:10px auto;
		padding:20px;
		width:960px;
		border:4px solid #666;
		border-radius: .5em;
		text-align: center;
		flex-wrap: wrap;
		color: #333;
		font-family: "Segoe Script";
		font-size:1em;
		line-height: 1.8;
	}
	.column{
		display: flex;
		width:100%;
		justify-content: space-between;
	}
	.grid{
		background:#f1f1f1;
		margin:5px;
		padding: 5px;
		flex: 1;
		/*平均分布,在容器里面平均分配空间*/
	}

</style>
<div class="wrap">
	<div class="column">
		<div class="grid grid1">1/2</div>
		<div class="grid grid1">1/2</div>
	</div>
	<div class="column">
		<div class="grid grid2">1/3</div>
		<div class="grid grid2">1/3</div>
		<div class="grid grid2">1/3</div>
	</div>
	<div class="column">
		<div class="grid grid3">1/4</div>
		<div class="grid grid3">1/4</div>
		<div class="grid grid3">1/4</div>
		<div class="grid grid3">1/4</div>
	</div>
	<div class="column">
		<div class="grid grid4">Full-height,even when my content doesn't fill the space.</div>
		<div class="grid grid4">Th’art nesh thee nay lad soft lad wacken thi sen up t’foot o’ our stairs. Nay lad where’s tha bin. Th’art nesh thee a pint ‘o mild any rooad t’foot o’ our stairs. Where there’s muck there’s brass t’foot o’ our stairs ah’ll gi’ thee a thick ear. Ah’ll learn thi tintintin tell thi summat for nowt soft lad mardy bum. Chuffin’ nora ah’ll box thi ears soft lad ee by gum tell thi summat for nowt ah’ll gi’ thee a thick ear. Bobbar nay lad. Breadcake soft southern pansy wacken thi sen up. Be reet where’s</div>
	</div>
</div>
</body>
</html>