<!DOCTYPE html>
<html>
<head>
	<title>固定的底部</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../CSSreset.css">
</head>
<body>
<style type="text/css">
	.wrap{
		display: flex;
  		min-height: 100vh;
		flex-direction: column;
		text-align: center;
	}
	/*视窗单位vw、vh、vmin、vmax*/
	header,footer{
		height: 100px;
		background: #ccc;
	}
	footer{
		align-items: flex-end;
	}
	article{
		background: #478922;
		flex:1;
	}
</style>
<div class="wrap">
	<header class="grid">this is header</header>
	<article class="grid">this is article part</article>
	<footer class="grid">this is footer</footer>
</div>
</body>
</html>